/* General setup */

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  line-height: 1.5rem;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Caveat', cursive ;
  font-size: 9rem;
}

h2 {
  font-size: 3rem;
  font-family: 'Rubik Iso', cursive;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

p{
  font-size: 2rem;
  line-height: 2rem;
}

ul li {
  font-size: 2rem;
  line-height: 3rem;
}

/* WRITE YOUR CODE BELOW HERE */